/* start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --text-line-height: 1.6;
    --text-color: #777;
    --transition-duration: 0.3s;
    --section-margin-top: 100px;
}
/* end variables */

/* start global rules */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* start media queries */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        width: 560px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
    /* end media queries */
 /* end global rules */
 
 /* start components */
 .special-heading {
   font-size: 100px;
   text-align: center;
   letter-spacing: -3px;
   color: #ebeced;
   font-weight: 800;
   margin: 0;
 }
 .special-heading + p {
   text-align: center;
   font-size: 20px;
   margin: -30px 0 0;
   color: #797979;
 }

 @media (max-width:767px) {
   .special-heading {
      font-size: 60px;
   }

   .special-heading + p {
      font-size: 15px;
      margin-top: -20px;
   }
 }

 .grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px;
 }
 /* end components */

/* start header */
 .header {
    padding: 20px;
 }

 .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header .logo {
    width: 60px;
    cursor: pointer;
 }

 .header .links {
    position: relative;
    cursor: pointer;
    
 }

 .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
 }

 .header .links:hover .icon span:nth-child(2) {
    width: 100%;
 }

 .header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
 }

 .header .links .icon span:first-child {
    width: 100%;
 }

 .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--transition-duration);
 }

 .header .links .icon span:last-child {
    width: 100%;
 }

 .header .links ul {
    list-style: none;
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 10px);
    display: none;
    z-index: 1;
 }

 .header .links ul::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -19px;
    right: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
 }

 .header .links:hover ul {
    display: block;
 }

 .header .links ul a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    transition: var(--transition-duration);
    text-transform: capitalize;
 }

 .header .links ul a:hover {
    padding-left: 30px;
    
 }

 .header .links ul li:not(:last-child) a {
    border-bottom: 1.5px solid #ddd;
 }
/* end header */

/* start landing section */
.landing {
  background-image: url(../imags/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;

}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: var(--text-line-height);
    text-transform: capitalize; 
}
/* end landing section */

/* start features */
.features {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   background-color: var(--section-background);
}

/* .features .container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px;
} */

.features .feat {
   padding: 30px;
   text-align: center;
}

.features .feat i {
   color: var(--main-color);
}

.features .feat h3 {
   font-weight: 800;
   margin: 30px 0;
}

.features .feat p {
   line-height: var(--text-line-height);
   margin: 20px 0;
   font-size: 17px;
   color: var(--text-color);
}
/* end features */
/* start services */
.services {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.services .container .services-content {
   /* display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px; */
   margin-top: var(--section-margin-top);
}

.services .container .services-content .ser {
   display: flex;
   margin-bottom: 40px;
}

@media (max-width: 767px) {
   .services .container .services-content .ser {
      flex-direction: column;
      text-align: center;
   }
}

.services .container .services-content .ser i {
   color: var(--main-color);
   flex-basis: 60px;
}

.services .container .services-content .ser .text {
   flex: 1;
}

.services .container .services-content .ser .text h3 {
   margin: 0 0 20px;
}

.services .container .services-content .ser .text p {
   color: #444;
   font-weight: 300;
   line-height: var(--text-line-height);
}

.services .container .services-content .image {
   text-align: center;
   position: relative;
}


.services .container .services-content .image::before {
   position: absolute;
   content: "";
   width: 100px;
   height: calc(100% + 100px);
   top: -50px;
   right: 0;
   background-color: var(--secondary-color);
   z-index: -1;
}

.services .container .services-content .image img {
   width: 260px;
}

@media (max-width: 1199px) {
   .services .container .services-content .image-media {
      display: none;
   }
}
/* end services */
/* start portfolio */
.portfolio {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   background-color: var(--section-background);
}

.portfolio .container .portfolio-content {
   /* display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px; */
   margin-top: var(--section-margin-top);
}

.portfolio .container .portfolio-content .card {
   background-color: white;
}

.portfolio .container .portfolio-content .card img {
   max-width: 100%;
}

.portfolio .container .portfolio-content .card .text {
   padding: 20px;
}

@media (max-width: 767px) {
   .portfolio .container .portfolio-content .card .text {
      text-align: center;
   }
}

.portfolio .container .portfolio-content .card .text h3 {
   margin: 0;
}

.portfolio .container .portfolio-content .card .text p {
   line-height: var(--text-line-height);
   color: var(--text-color);
   margin-bottom: 0;
}
/* end portfolio */
/* start about */
.about {
   padding-top: var(--section-padding);
   padding-bottom: calc(var(--section-padding) + 60px);
}

.about .container .about-content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: var(--section-margin-top);
}

@media (max-width:991px) {
   .about .container .about-content {
      flex-direction: column;
      text-align: center;
   }

   .about .container .about-content .image {
      margin-bottom: 50px;
      transform: translate(-50%, 0%);
      position: absolute;
      top: 50%;
      left: 50%;
   }

   /* .about .container .about-content .image {
      margin: 0 auto 50px;
   } */

}

.about .container .about-content .image {
   position: relative;
   /* مساحة الصوره نفسها طول و عرض */
   width: 250px;
   height: 375px;
}

.about .container .about-content .image img {
   max-width: 100%;
}


.about .container .about-content .image::before {
   content: "";
   position: absolute;
   width: 100px;
   height: calc(100% + 100px);
   background-color: #ebeced;
   left: -20px;
   top: -50px;
   z-index: -1;
}

.about .container .about-content .image::after {
   content: "";
   position: absolute;
   width: 120px;
   height: 300px;
   right: -150px;
   top: -50px;
   z-index: -1;
   border-left: 75px solid var(--main-color);
   border-bottom: 75px solid var(--main-color);
}

@media (max-width:767px) {
   .about .container .about-content .image::after {
      display: none;
   }
}

.about .container .about-content .text {
   flex-basis: calc(100% - 500px);
}

.about .container .about-content .text p:first-child {
   font-weight: bold;
   color: black;
   line-height: 2;
   margin-bottom: 50px;
}

.about .container .about-content .text hr {
   width: 50%;
   border-color: var(--main-color);
   display: inline-block;
}

.about .container .about-content .text:nth-child(2) {
   font-size: 15px;
   color: var(--text-color);
   line-height: 2;
}
/* end about */
/* start contact */
.contact {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   background-color: var(--section-background);
}

.contact .container .info {
   /* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 100px; */
   
   /* or */

   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   text-align: center;
}

.contact .container .info p {
   color: var(--secondary-color);
   font-size: 40px;
   font-weight: 800;
   letter-spacing: -2px;
   margin-bottom: 15px;
}

.contact .container .info .link {
   text-decoration: none;
   font-size: 35px;
   font-weight: 800;
   color: var(--main-color);
   display: block;
}

@media (max-width:767px) {
   .contact .container .info p,
   .contact .container .info .link {
      font-size: 25px;
   }
}

.contact .container .info .social {
   display: flex;
   justify-content: center;
   margin-top: 15px;
   font-size: 16px;
}

.contact .container .info .social i {
   margin-left: 10px;
   color: var(--secondary-color);
   cursor: pointer;
}
/* end contact */
/* start footer */
.footer {
   padding: 30px 10px;
   background-color: var(--secondary-color);
   color: white;
   text-align: center;
   font-size: 20px;
}

.footer .container span {
   color: var(--main-color);
   cursor: pointer;
}
/* end footer */